page-login {
    .vertical-align-content > *
    {
/*         display: flex!important;
        align-content: center!important;
        align-items: center!important;
 */        
        //padding-top: 30%;
        //padding-bottom: 30%;
        background: #990000;
        //background-image: url('../assets/imgs/login.jpg');
        //background-size: cover;
        img {
            height: 60% !important;
            width: 60% !important;
            align-items: center;
            margin: auto;
            display: block;
            }
    }


}
