page-login {
    .vertical-align-content > *
    {
        display: flex!important;
        align-content: center!important;
        align-items: center!important;
        background-image: url('../assets/imgs/login.jpg');
        background-size: cover;
    }

}
