page-bookinginitiate {
    .vertical-align-content > *
    {
         display: flex!important;
        align-content: center!important;
        align-items: center!important;
        
        /* height:100%;
        padding-top: 30%;
        padding-bottom: 30%; */
    }

}
