<!--
  Generated template for the BookinginitiatePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="mymenu">
    <ion-icon style="padding-left:2rem" name="menu" menuToggle left></ion-icon>
    <ion-title>Initiate Booking</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding *ngIf="status==false">
  <p><b>{{facility_name}}</b></p>
  <p>{{facility_address}}</p>
  <p><b>Phone:</b> {{facility_phone}}</p>
  <p><b>Timimg:</b> {{chamber_start}} to {{chamber_end}}</p>
  <p></p>
  <p><b><i>Please provide correct information</i></b></p>
  <p></p>
  <form [formGroup]="bookingForm" (ngSubmit)="saveBooking()">
    <input type="hidden" formControlName="chamber_id"  value="{{chamber_id}}" readonly>
    <input type="hidden" formControlName="patient_id"  value="{{patient_id}}" readonly>
    <ion-item>
      <ion-input type="text" formControlName="name" value="{{patient_name}}" placeholder="Patient Name" ></ion-input>
    </ion-item>
    <ion-label *ngIf="!bookingForm.valid">
      Only alphanumeric characters allowed
    </ion-label>
    <ion-item>
      <ion-textarea id="add1" formControlName="address" value="{{patient_address}}" placeholder="Address" ></ion-textarea>
    </ion-item>
    <ion-label *ngIf="!bookingForm.valid">
      Only alphanumeric characters, comma, dot, space allowed
    </ion-label>
    <ion-item>
        Phone: <ion-input type="text" formControlName="phone" value="{{patient_phone}}" placeholder="Mobile No." ></ion-input>
    </ion-item>
    <ion-label *ngIf="!bookingForm.valid">
      Only numeric characters allowed
    </ion-label>
    <ion-item>
      <ion-input type="text" formControlName="age" value="{{patient_age}}" placeholder="Age" ></ion-input>
    </ion-item>
    <ion-label *ngIf="!bookingForm.valid">
      Only numeric characters allowed
    </ion-label>
    <ion-list radio-group formControlName="sex">
      <ion-item style="width:150px;">
        <ion-label>Male</ion-label>
        <ion-radio value="M" [checked]="sex=='M'"></ion-radio>
      </ion-item>
      <ion-item style="width:150px;">
        <ion-label>Female</ion-label>
        <ion-radio value="F" [checked]="sex=='F'"></ion-radio>
      </ion-item>
      <ion-item style="width:150px;">
        <ion-label>Other</ion-label>
        <ion-radio value="O" [checked]="sex=='O'"></ion-radio>
      </ion-item>
    </ion-list>
    <ion-item>
        <ion-textarea formControlName="symptoms" value="{{symptoms}}" placeholder="Symptoms (Optional)\nMax. 200 characters" rows=5 ></ion-textarea>
    </ion-item>
    <ion-item>
      <p>
        * All fields are mandatory
      </p>
    </ion-item>
    <button ion-button block type="submit" [disabled]="!bookingForm.valid">
      <ion-icon name="archive"></ion-icon>&nbsp;&nbsp;&nbsp;Save
    </button>
  </form>

</ion-content>

<ion-content padding *ngIf="status==true" class="vertical-align-content">
  <ion-grid>
    <ion-item>
      <h1 style="color:rgb(245, 67, 126)">Booking successful.</h1>
    </ion-item>
    <ion-item>
      <b>Booking ID: <font style="color:rgb(182, 83, 240)">{{booking_id}}</font></b>
    </ion-item>
    <ion-item>
      <b>Patient No.: <font style="color:rgb(182, 83, 240)">{{queue_status}}</font></b>
    </ion-item>
  </ion-grid>
</ion-content>
