page-bookingnow {
    .vertical-align-content > *
    {
        display: flex!important;
        align-content: center!important;
        align-items: center!important;
    }

    #map {
        height: 100%;
        background-image: url('../assets/imgs/loading-wheel.gif');
        background-size: cover;
        display: none;
      }

    .ion-card {
        max-height: 200px;
        overflow: scroll;
        position: absolute;
        z-index: 1;
    }

}
